// MOLECULES [ CUSTOM RTE ] ###########################################################################################

.customRte {
  p {
    margin-bottom: 1.25em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.75em;
    margin-bottom: 0.65em;

    &:first-child {
      margin-top: 0;
    }
  }

  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p {
    margin-top: 0;
  }

  ul,
  ol {
    margin: 0 0 1.25em;
    padding-left: 1.5em;

    li {
      margin-bottom: 0.5em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  p + ul,
  p + ol,
  ul + p,
  ol + p {
    margin-top: 0;
  }
}

// END OF FILE ########################################################################################################
