// ATOMS [ MISC ]  ####################################################################################################

// BASE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. FONTS ---------------------------------------------

// A.1. END -----------------------------------------------

.a-responsive-image {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

// A.1. ICONS ---------------------------------------------

// A.1. END -----------------------------------------------

// A.2. SPECIFIC ICONS ------------------------------------

// A.2.1. CLOSE -------------

// A.2.1. END ---------------

// END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
