// GLBAL [ NEWS PAGE ] ################################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.0. IMPORTS -------------------------------------------

@import "../../scss/.base/module-index";

// A.0. END: IMPORTS --------------------------------------

// A.1. PAGE BASE STYLES ----------------------------------

.oNewsArea {
  margin-top: 80px;
  .oCard {
    text-decoration: none;
    .oProjectCard {
      background-color: black;
      .mImage {
        aspect-ratio: 1/1;
        background-size: cover;
        background-position: center;
        opacity: 0.6;
        transition: 0.3s;
      }
      .mBody {
        transition: 0.3s;
        @include middle-align();
        width: 100%;
        text-align: center;
        bottom: auto;
        background-color: rgba(black, 0);
        padding: 20px;
        .aTitle {
          color: white;
          text-shadow: 0 0 4px black;
        }
      }
      &:hover {
        transition: 0.8s ease-in;
        .mImage {
          transition: 0.3s;
          opacity: 1;
        }
        .mBody {
          transition: 0.8s;
          transform: translateY(0) translateX(-50%);
          top: auto;
          bottom: 0;
          left: 50%;

          background-color: rgba(black, 1);
        }
      }
    }
  }
}

// A.1. END -----------------------------------------------
// A.1. END -----------------------------------------------

// A.1. END -----------------------------------------------

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($md-dn) {
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($lg-up) {
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($xl-up) {
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
