// COMPONENT [ HERO CAROUSEL ] ########################################################################################

@import "../../../scss/.base/_module-index";

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

.introBlock {
  position: relative;
  background-color: rgba(black, 0.2);
  min-height: 100vh;
  .mLogo {
    @include middle-align();
    width: 100%;
    .aImage {
      display: block;
      width: 100%;
      height: auto;
      max-width: 800px;
      margin: 0 auto;
    }
  }
}

.oBackgroundImage {
  @include position(absolute, 0);
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.oPageHeroCarousel {
  position: relative;
  height: 50vh;
}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++

// B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

@media ($md-dn) {
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++

// C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
  .oPageHeroCarousel {
    max-height: 300px;
  }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++

// D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++

// E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

@media ($lg-up) {
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
